
.header {
  display: grid;
  position: relative;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.35;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: circle ;
}

.header__links-list-item {
  margin-left: 0;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.header__link {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
  color: black;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;

}

.header__logo-image {
  width: 100%;
  height: 100%;
  display: block;
}

.header__address {
  display: flex;
  flex-direction: column; 
  font-style: normal;     
  align-items: flex-start;
  margin-left: 185px;
}



.cover {
  position: relative;
  min-height: 757px;
  padding: 0 50px;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.cover__title,
.cover__description {
  position: relative;
  z-index: 2;
}

.cover__title {
  margin-top: auto;
  font-size: 100px;
  line-height: 1;
  letter-spacing: 0.3em;
  color: #FFF;
  text-transform: uppercase; 
  margin-bottom: 130px;
}

.cover__title-text {
  display: block;
  line-height: 1.2;
  width:100%;
}


.text-center {
  display: block;
  text-align: center;
  margin-left: 15px;
}

.text-right {
  text-align: right;
  margin-left: 20px;
}

.cover__description {
 width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}


.cover__description-text {
  font-family: Raleway, sans-serif;
  font-size: 22px;
  color: #FFF;
  text-transform: uppercase;
  line-height: 1.2;
  word-spacing: 18px;
  letter-spacing: normal;
  text-align: left;
}

.cover__button {
  background: transparent;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  color: #FFF;
  text-transform: uppercase;
  line-height: 28px;
  letter-spacing: normal;
  border: 1px solid #FFF;
  padding: 12px 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.lots {
  padding: 180px 40px 0px 40px;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  margin-left:25px; 
}

.lots__card-list {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin-top:27px;
  margin-right:0px;
}

.lots__card-list-item {
  min-width: 334px;
  height: 596px;
}

.card-link {
  display: block; 
  height: 100%;
  text-decoration: none;
  position: relative;
}

.card-type-film,
.card-type-book,
.card-type-picture {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  background-size: cover;
  justify-content: space-between;
}

.card-type-film {
  background-image: url("../images/card-lot-01.jpg");
}

.card-type-book {
  background-image: url("../images/card-lot-02.jpg");
}

.card-type-picture {
  background-image: url('../images/card-lot-03.jpg');
}


.card__title {
  margin: 0; 
  color: #fff;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 2px;
  position: relative;
  z-index: 2;
}
.card__text {
  margin: 0;
  color: white;
  font-size: 20px;
  line-height: 1.2;
  position: relative;
  z-index: 2;
  max-width: 100%;
}

.card__overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.lots__look-more-link {
  font-size: 20px;
  margin: 30px 0 0 24px;
  display: inline-block;
  text-decoration: underline;
  text-underline-offset: 5px;
  color: #000;

}

.about {
  padding: 120px 24px 180px 24px;
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 25px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:35px;
  margin-left: 45px;
  margin-right:50px;
  padding: 45px;
  box-sizing: border-box;
}

.about__logo-image {
  width: 148px;
  height: 148px;
}

.about__title {
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 135px; 
  margin-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__paragraph {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin: 0; 

}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
  padding-top: 3px;    
  padding-right: 50px;  
  padding-bottom: 40px; 
  padding-left: 50px;
  min-height: 180px;
  letter-spacing: 0.06em;
}

.address {
  font-style: normal;
}

.footer__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  gap: 8px;
}

.address__text {
  margin: 0;
  padding: 0;
}

.address__link {
  display: block;
  text-decoration: underline;
  margin-bottom: 6px;
  text-underline-offset: 4px;
}

.footer__menu {
  justify-self: center;
}
.footer__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer__menu-list-item {
  margin-bottom: -2px; 
}

.footer__menu-link {
  text-decoration: underline;
  display: inline-block;
  line-height: 1.4;
}
.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-self: end;
  align-items: flex-start;;
  gap: 48px;
}
.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}

.footer__social-icon {
  width: 100%;
  height: 100%;
  display: block;
}
